.main {
  padding: 20px;
  padding-bottom: 80px;
  max-width: 1000px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Georgia', serif;
}

.title {
  font-size: 2rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Forma', sans-serif;
  letter-spacing: -0.05em
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  font-size: 1rem;
  width: 103%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: 'Georgia', serif;

}

.button {
  padding: 12px 24px;
  font-size: 1rem;
  color: white;
  background-color: #184D2C;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Georgia', serif;

}

.button:hover {
  background-color: #E4EFD9;
  color: black;
}

.resultsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  width: 100%;
}

.bookItem {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: #f6f5f3;
  text-align: center;
}

.bookItem img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .resultsContainer {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 800px) {
  .resultsContainer {
    grid-template-columns: 1fr; 
  }
}
